body {
  font-family: 'Poppins', sans-serif;
  background-color: #19191c;
  margin-right: 4em;
  margin-left: 4em;

  scrollbar-width: thin; /* standard scrollbar width */
  scrollbar-color: #434356 #1e1e26; /* standard scrollbar color */
}

/* Standard Track styles */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #1e1e26;
}

body::-webkit-scrollbar-thumb {
  background: #434356;
}

body::-webkit-scrollbar-thumb:hover {
  background: #736292;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.error-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Set the height to 100% of the viewport height */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.error-message img {
  filter: invert(40%) sepia(40%) saturate(399%) hue-rotate(218deg)
    brightness(92%) contrast(92%);
}
