.navbar {
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

.navbar ul {
  list-style-type: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-left {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  gap: 20px;
  align-items: center;
}

.nav-items-right {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  gap: 20px;
}

.nav-items-left .github {
  width: 3.5em;
  transition: all 0.3s ease;
}

.nav-items-left .linkedin {
  width: 2.5em;
  filter: grayscale(100%) opacity(20%);
  transition: all 0.3s ease;
}

.nav-items-left a:hover .linkedin {
  filter: unset;
  transform: scale(1.1);
}

.nav-items-left a:hover .github {
  filter: invert(98%) sepia(13%) saturate(156%) hue-rotate(2deg)
    brightness(116%) contrast(100%);
  transform: scale(1.1);
}

.nav-items-right li {
  margin: 0 10px;
}

.nav-items-right a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  transition: transform 0.2s;
}

.nav-items-right a:hover {
  transform: scale(1.08);
}

.nav-items-right a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.nav-items-right a::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  margin-top: 5px;
  background: linear-gradient(180deg, #5b3286, #dd3977);
  transition: width 0.5s;
  border-radius: 10px;
}

.nav-items-right a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
