.planets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;

  opacity: 0;
  animation: fadeInFromBottom 0.5s forwards;
}

.planets-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2);
  grid-column-gap: 50px;
  grid-row-gap: 50px;

  margin: 20px;
}

.planets-content a {
  text-decoration: none !important;
}

.planet-card {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 140px;
  height: 140px;
  background: rgba(36, 35, 45, 0.58);
  border: 1px solid rgba(36, 35, 45, 0.58);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.22);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
}

.planet-card-content {
  margin-top: 20px;
}

.planet-card-content a {
  text-decoration: none !important;
  color: #fff;
}

.planet-card-content .planet-name {
  font-size: 1em;
  text-transform: capitalize;
}

.planet-card:hover {
  /* border: 1px solid rgb(126, 124, 124); */
  transform: scale(1.05) !important;
}

.planet-card:active {
  transform: scale(0.95) !important;
}

.planet-svg {
  filter: invert(40%) sepia(40%) saturate(399%) hue-rotate(218deg)
    brightness(92%) contrast(92%);
}
