.planet-dtls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  min-width: 550px;

  border-radius: 10px;
  color: #fff;
  text-transform: capitalize;
  background: #1e1e26;

  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.planet-dtls-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 900px;

  text-align: center;
}

.planet-header {
  margin-bottom: 80px;
  text-align: center;
  opacity: 0;
  animation: fadeInFromBottom 0.7s 0.1s ease forwards;
}

.planet-header img {
  width: 8em;
  filter: invert(40%) sepia(40%) saturate(399%) hue-rotate(218deg)
    brightness(92%) contrast(92%);
}

.planet-dtls-content {
  margin-top: 75px;
}

/* .planet-dtls-stats {

} */

.planet-dtls-stats img {
  width: 3em;
  height: 3em;
  filter: invert(16%) sepia(62%) saturate(2884%) hue-rotate(316deg)
    brightness(89%) contrast(90%); /* filter color: #dd3977; */
}

.planet-dtls-stats .planet-name {
  font-size: 2em;
}

.planet-dtls-stats h3 {
  font-size: 1em;
  font-weight: 300;
  color: #dd3977;
}

.planet-dtls-stats h2 {
  font-size: 1em;
}

.planet-dtls-card {
  margin: auto;
  cursor: default;
}

.planet-name {
  font-weight: 600;
  font-size: 2.3em;
}

.films-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.films-content {
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(100px, 200px)
  ); /* Adjust the values as needed */

  grid-column-gap: 40px;
  grid-row-gap: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}

.films-content img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(6%) saturate(7277%) hue-rotate(176deg)
    brightness(117%) contrast(103%);
  /* (fill #fffff)  */
}

.sub-heading {
  padding-bottom: 40px;
}

/* attack of the clones: width: 9.6em;
} */

/* Planet stats fade in */

.population {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.2s ease forwards;
}

.climate {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.3s ease forwards;
}

.terrain {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.4s ease forwards;
}

.surface-water {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.5s ease forwards;
}

.diameter {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.6s ease forwards;
}

.gravity {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.7s ease forwards;
}

.rotation-period {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.8s ease forwards;
}

.orbital-period {
  opacity: 0;
  animation: fadeInFromBottom 0.3s 0.9s ease forwards;
}
